@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

div.logo img {
    width: 100px;
    vertical-align: bottom;
}

.logo {
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}

.logo_img {
    margin-bottom: 10px;
}

.global-nav li {
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: "Bitter", serif;
}

.global-nav li a {
    color: #ffffff;
}

.global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #788d98;
}

footer small {
    font-size: 12px;
}

.global-nav {
    float: right;
    margin-top: 60px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #3583aa;
}

a:visited {
    color: #788d98;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    /*
    height: 100%;
    */
    margin: 0 auto;
    background-color: #788d98;
}

#wrap {
    clear: both;
    background-color: #ffffff;
    margin-top: 300px;
    padding: 35px 0;
}

.content {
    width: 960px;
    margin: 0 auto;
}

.main-center {
    width: 940px;
    margin: 0 auto;
}

#Cansat {
    /*
    background-image: url(../single1/img_src/IMG_3843.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
    */
    background-color: #788d98;
}




h1 {
    font-family: 'Bitter', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

h2 {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

.icon::before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}

#Cansat .profile-txt {
    width: 540px;
    float: left;
}

#Cansat .profile-txt span {
    font-weight: bold;
}

#Cansat .profile-img {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

section {
    margin-bottom: 35px;
}

#Cansat .career th {
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
    border: 1px solid #cccccc;
}

#Cansat .career td {
    width: 660px;
    padding: 12px 40px;
    border: 1px solid #cccccc;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

#Cansat .photograph-list li {

    list-style: none;
    display: inline-block;
    margin-right: 15px;
    height: auto;
}

.midasi{
    text-align: center;
    margin: 30px;
}

.exp{
    font-weight: 800;
    text-align: center;
    font-size: large;
}
.midasi_img{
    border-radius: 200px;
}

.past {
    position: relative;
    padding: 1.5rem 1.5rem calc(1.5rem + 10px);
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid #000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

.past::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    border-top: 2px solid #000;
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


#Cansat .photograph-list img {
    border: 10px solid;
    border-image: linear-gradient(to right bottom, #e0d9b6, #b4983a) 1 / 10px;
    outline: 3px outset #efe9cc;
    padding: 15px;
    background: #FFF;
    box-shadow: 1px 3px 10px #999;
    /*
    border-radius: 5px;
    border: double 10px #333333;
    */
    /* 画像の枠線*/
}

#Cansat .flex-box {
    display: flex;
    flex-wrap: wrap;
}

.roll_list {
    list-style: none;
}

.roll_size {
    /*
    font-size: 25px;
    font-weight: 600;
    
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    */
    margin: 30px;
}

.roll_img {
    text-align: center;
    margin: 20px;
}

.box {
    width: 260px;
    /* 紙の横幅 100%にすると全幅表示に */
    padding: 15px;
    margin: 2em auto;
    background: #f7f092;
    /* 紙の色 */
    color: #000;
    /* 文字色 */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.03);
    transform: rotate(2deg);
    word-break: break-all;
}

.box p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.box-tape {
    width: 50%;
    height: 35px;
    margin: -25px auto 0;
    background: #989898;
    transform: rotate(-3deg);
    opacity: 0.1;
}

.box-title {
    text-align: center;
    font-size: 1.3em !important;
    margin-top: 10px !important;
}

.roll_txt {
    text-align: center;
}

.map{
    text-align: center;
}

.map_img{
    border: double 10px #333333;
}